/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
    font-family: 'Lato',serif;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  .bar{
    display: block;
    background-color: #5d5b5b;
    width: 31px;
    height: 5px;
    margin: 5px auto;
}

 nav.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  box-shadow: 1px 6px 10px #b3b1b1;
  padding-bottom: 8px;
}

.logo img {
    height: 51px;
}

.headline{
  background-image: url('images/desktop_bg.png');
  background-repeat: no-repeat;
}

.hero-container {
  margin-left: 5%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.hero-container h4 {
  font-weight: 400;
  font-size: 20px;
  color: #fa3516;
}

.hero-container h1 {
    font-weight: 900;
    font-size: 25px;
    color: #fa3516;
  }

.hero-content {
    font-size: 13px;
    width: 356px;
    margin: 20px auto;
    background-color: #F5F5F5;
    border: 4px solid #fff;
    padding: 11px;
}

.hero-date {
   margin-left: 20px;
    padding-bottom: 50px;
    padding-top: 13px;
}

.hero-date h4 {
    font-size: 14px;
    color: #7e7e7e;
}

.hero-date h1 {
    color: #595959;
    font-weight: 700; 
}

.main-program {
    background-image: url(images/bg1.png);
}

.program-heading {
    text-align: center;
}

.program-heading h2{
  color: #fff;
  font-weight: 100;
  padding-top: 22px;
  padding-bottom: 5px;
}

.program-heading::after{
    content: '';
    height: 2px;
    width: 10%;
    margin: 0 auto;
    background-color: #fa3516d1;
    position: absolute;
    left: 0;
    right: 0;
}

.program-contents {
    margin: 45px 10px;
}

.program-cont {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: #4c505842;
    padding: 10px;
}

.program-cont span img {
    width: 150px;
    height: 51px;
}

.program-cont h2 {
    font-size: 16px;
    color: #fa3516;
    margin-right: 15px;
}

.program-cont div p {
    font-size: 13px;
    color: #fff;
}

.program-button {
    margin: 0 auto;
    width: 330px;
    padding-bottom: 35px;
}

.program-button button{
    padding: 23px 50px;
    background-color: #ff4f38;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border: none;
}






